<% if @character.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@character.errors.count, "error") %>.</h4>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @character do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
</br>
   <%= f.label :height, "Height in Inches" %>
   <%= f.number_field :height, :value => 0 %>
</br>
   <%= f.label :weight, "Weight in Pounds" %>
   <%= f.number_field :weight, :value => 0 %>
</br>
   <%= f.label :level %>
   <%= f.number_field :level, in: 1..20, :value => 1 %>
</br>
   <%= f.label :current_xp, "Current XP" %>
   <%= f.number_field :current_xp, in: 0..355000, :value => 0 %>
</br>
   <%= f.label :base_strength, "Strength" %>
   <%= f.number_field :base_strength, in: 3..18, :value => 8 %>
</br>
   <%= f.label :base_dexterity, "Dexterity" %>
   <%= f.number_field :base_dexterity, in: 3..18, :value => 8 %>
</br>
   <%= f.label :base_constitution, "Constitution" %>
   <%= f.number_field :base_constitution, in: 3..18, :value => 8 %>
</br>
   <%= f.label :base_wisdom, "Wisdom" %>
   <%= f.number_field :base_wisdom, in: 3..18, :value => 8 %>
</br>
   <%= f.label :base_intelligence, "Intelligence" %>
   <%= f.number_field :base_intelligence, in: 3..18, :value => 8 %>
</br>
   <%= f.label :base_charisma, "Charisma" %>
   <%= f.number_field :base_charisma, in: 3..18, :value => 8 %>
</br>
   <%= f.label :wealth %>
   <%= f.number_field :wealth, :value => 0 %>
<!-- </br>
   <%= f.radio_button(:vision, "normal") %>
   <%= f.label :vision_normal, "Normal Vision" %>
   <%= f.radio_button(:vision, "darkvision") %>
   <%= f.label :vision_darkvision, "Darkvision" %>
   <%= f.radio_button(:vision, "superior_darkvision") %>
   <%= f.label :vision_superior_darkvision, "Superior Darkvision" %> -->
   <!--alternate way to loop through enumerated attributes
   <% Character.visions.keys.each do |vision| %>
      <%= f.radio_button :vision, vision %>
      <%= f.label vision.to_sym %>
   <% end %>
   -->
</br>
   <%= f.label :speed %>
   <%= f.number_field :speed, :value => 30 %>
</br>
   <%= f.label :current_hp, "Current HP" %>
   <%= f.number_field :current_hp, :value => 15 %>
</br>
   <%= f.label :max_hp, "Max HP" %>
   <%= f.number_field :max_hp, :value => 15 %>
</br>
   <%= f.label :temp_hp, "Temporary HP" %>
   <%= f.number_field :temp_hp, :value => 0 %>
</br>
<%= f.label :proficiency_bonus, "Proficiency Bonus" %>
<%= f.number_field :proficiency_bonus, :value => 2 %>
</br>
<%= f.label :race_id, "Race" %>
<%= f.select :race_id, Race.all.collect { |r| [ r.name, r.id ] }, include_blank: true %>
</br>
<%= f.label :hero_class_id, "Class" %>
<%= f.select :hero_class_id, HeroClass.all.collect { |r| [ r.name, r.id ] }, include_blank: true %>
</br>
   <%= f.submit "Save" %>
 <% end %>
