<h2> <%= @character.name %> </h2>

<p>
  <strong>Race: </strong>
  <%= @character.race.name %>
</p>

<p>
  <strong>Hero Class: </strong>
  <%= @character.hero_class.name %>
</p>

<% Character::SIMPLE_ATTRIBUTES.each do |name| %>
  <p>
    <strong><%= name.to_s.titleize %>: </strong>
    <div id='<%= name %>'><%= @character.send(name) %></div>
  </p>
<% end %>

<%= link_to "Edit Character Data", edit_character_path %>
<%= link_to "Delete Character Data", @character, method: :delete %>
